CREATE TABLE IF NOT EXISTS notifications (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL,
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  type TEXT DEFAULT 'info',
  category TEXT DEFAULT 'system',
  read BOOLEAN DEFAULT false,
  metadata JSONB DEFAULT '{}',
  created_at TIMESTAMPTZ DEFAULT now()
);

ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
their
own
notifications\ ON notifications
  FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY \System
can
insert
notifications\ ON notifications
  FOR INSERT WITH CHECK (true);

CREATE POLICY \Users
can
update
their
own
notifications\ ON notifications
  FOR UPDATE USING (auth.uid() = user_id);
